html {
    font-size: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    margin: 0px;
}   

h1 {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px;
    background-color: #edeaea;
    padding: 1rem 0rem 1rem 0rem;
    color: black;
}

.fa-map-marker-alt {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    padding-right: 1rem; 
}

#belleville {
    border: 1px transparent;
    outline: none;
    background-color: #edeaea;
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
}

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding: 2rem 2rem 2rem 2rem;
}

.explorer > p {
    text-align: center;
}

.h2_explorer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.button_explorer {
   height: 2.5rem;
   width: 14rem;
   border-radius: 20px;
   border: hidden;
   background: linear-gradient(#FF79DA, #9356DC);
   box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
}

.button_explorer:hover {
    background: linear-gradient(#ff99e2, #9356DC);
    box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
    0 2px 17px -3px rgba(0, 0, 0, 0.7);
}

.p_button_explorer {
    font-family: 'Roboto', sans-serif;
    color: white;   
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.h2_fonctionnement, .h2_restaurants {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 2rem 0rem 0rem 2rem;
}

.button_fonctionnement {
    display: flex;
    border-radius: 20px;
    border: hidden;
    background-color: #F2F2F2;
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin: 1rem 1rem 0.5rem 2rem;
    padding: 0.5rem;
    height: 3.5rem;
    flex-grow: 1;
}

.button_fonctionnement:hover {
    background-color: #f5f1f1;
    box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
    0 2px 17px -3px rgba(0, 0, 0, 0.7);
}

.p_button_fonctionnement {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.div_fonctionnement_choisissez, .div_fonctionnement_composez, .div_fonctionnement_degustez {
    display: flex;
}

.fa-mobile-alt {
    margin-left: 1rem;
    margin-top: 0.9rem;
    margin-right: 1rem;
    height: 2rem;
    color: grey;
}
.fa-ellipsis-v {
    margin-left: 1rem;
    margin-top: 0.9rem;
    margin-right: 2px;
    height: 2rem;
    color: grey;
}

.fa-bars {
    margin-top: 0.9rem;
    margin-right: 1rem;
    height: 2rem;
    color: grey;
}

.fa-store {
    margin-left: 1rem;
    margin-top: 0.9rem;
    margin-right: 1rem;
    height: 2rem;
    color: grey;
}

.one, .two, .three {
    position: absolute;
    font-size: 0.8rem;
    height: 1.3rem; 
	width: 1.3rem;
    margin-left: 1.4rem;  
    margin-top: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #9356DC;
    color: white;
	border-radius: 50%; 
}

.restaurants {
    background-color: #F2F2F2;
    padding-bottom: 3rem;
}

.h2_restaurants {
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}

.h3_restaurants {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
}

.p_restaurants {
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    padding-left: 1rem;
    margin-bottom: 0px;
}

.div_la_palette, .div_la_note, .div_a_la_francaise, .div_le_delice {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    background-color: white;
}

.new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #99E2D0;
    border-radius: 2px;
    height: 1.5rem;
    width: 5rem;
}

.p_new {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    margin-top: 5px;
    padding-left: 1rem;
    color: green;
    font-weight: bold;
}

.info {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 1rem;
}

.info > i {
    padding-top: 1.5rem;
}

.info > .animation_heart > i {
    padding-top: 1.5rem;
}

.info_text {
    display: flex;
    flex-direction: column;
    
}

/*.info > .fa-heart {
    transition: color 0.3s ease-in-out;
} 
.fa-heart {
    background: linear-gradient(#9356DC, #FF79DA );
    color: black; 
}
.fa-heart:hover { 
    background: linear-gradient(#9356DC, #FF79DA );
} */ 


.img_restaurants_delice {  
    margin: 1rem 1rem 2rem 1rem;
    border-radius: 20px;
    background-color: white;
}

.la_palette_du_gout, .la_note_enchantee, .a_la_francaise, .le_delice_des_sens {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.fa-heart {
    font-size: 1.5rem;
}

footer {
    background-color: #353333;
    display: flex;
    flex-direction: column;
}

.h2_footer {
    font-family: 'Shrikhand', cursive;
    font-size: 1.0rem;
    font-weight: 100;
    color: white;
    padding: 1rem 0rem 1rem 0rem;
}

.h3_footer {
    padding-bottom: 0rem;
    margin-left: 0rem;
}

.fa-utensils_h3_footer, .fa-hands-helping_h3_footer { 
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
} 

.fa-utensils {
    font-size: 0.9rem;
    margin-left: 1rem;
}

.fa-hands-helping {
    font-size: 0.6rem;
    margin-left: 1rem;
    padding-top: 5px;
}

.fa-utensils, .fa-hands-helping, .h3_footer, .h3_mentions_footer, .h3_footer_contact, .h3_mentions_footer {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.h2_footer, .h3_footer, .h3_footer_contact {
    margin: 0rem 0rem 0rem 1rem;
}

.h3_footer, .h3_mentions_footer, .h3_footer_contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.h3_mentions_footer {
    margin-top: 0rem;
}

.h3_footer_contact {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

/* Responsive */

@media (min-width: 768px) {
    .search, .explorer, .restaurants {
        margin: 1rem 4rem 1rem 4rem;
        border-radius: 20px;
        box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    }
    .fonctionnement {
        margin: 0rem 3rem 0rem 3rem;
    }
    footer {
        margin: 2rem 4rem 2rem 4rem;
        border-radius: 20px;
    }
}
@media (min-width: 1250px) {
    body { 
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem;
    }   
    h1 {
        margin-bottom: 2rem;
    }

    .search {
        width: 50%;
        justify-content: center;
        margin: 0rem 0rem 2rem 0rem;
        align-self: center;
    }
    .explorer {
        justify-content: center;
        width: 25rem;
        padding: 0rem;
        margin-bottom: 0.5rem;
    }
    .grid_top {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .fonctionnement {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .h2_fonctionnement {
        margin-top: 1rem;
    }
    .grid_img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .h2_restaurants {
        padding-top: 0rem;
        margin: 1rem 0rem 1rem 3rem;
        height: 3rem;
    }

    .div_la_palette, .div_la_note, .div_a_la_francaise, .div_le_delice {
        width: 80%;
        margin: 2rem 3rem 2rem 3rem;
    }
    .la_palette_du_gout, .la_note_enchantee, .a_la_francaise, .le_delice_des_sens {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }
    footer {
        margin: 2rem 4rem 2rem 4rem;
        border-radius: 20px;
    }
    .h2_footer {
        padding-top: 1rem;
    }
    .h2_footer, .fa-utensils, .fa-hands-helping, .h3_mentions_footer, .h3_footer_contact {
        padding-left: 2rem;
        padding-top: 1rem;
    }
    .h3_footer {
        padding-top: 1rem;
    }
}