html {
    font-size: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    margin: 0rem;
}   

.arrow_h1 {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 0rem 0rem;
    font-family: 'Shrikhand', cursive;
}

.fa-arrow-left {
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-items: left;
    align-content: center;
}

.la_palette_du_gout,
.la_note_enchantee,
.a_la_francaise, 
.le_delice_des_sens {
    width: 100%;
    object-fit: cover; 
    max-height: 25rem;
}

.main_menu {
    background-color: #F2F2F2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
}

.entrees, 
.plats, 
.desserts {
    margin: 0rem 1.5rem 0rem 1.5rem;
}

.h2_menu {
    font-family: 'Shrikhand', cursive;
} 

.h2_entrees, 
.h2_plats, 
.h2_desserts {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 2px solid #99e2d0;
    width: 3rem; 
}

.heartcontainer{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fa-heart{
    display: block;
    position: absolute;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}
  
.fas.fa-heart{
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

.far.fa-heart{
    opacity: 1;
    transition: 2s;
}
  
.heartcontainer:hover > .fas.fa-heart{
    opacity: 1;
    transition: 2s;
}

.heartcontainer:hover > .far.fa-heart{
    opacity: 0;
    transition: 2s;
}

.menu {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 1rem;
}

.menu > .fa-heart {
    padding-top: 1.4rem;
    margin-right: 2rem;
}

.fa-heart {
    font-size: 1.5rem;
}

.button_entrees, 
.button_plats, 
.button_desserts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    border: hidden;
    background-color: white;
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5rem;
    height: 3.5rem;
}

.button_entrees {
    animation: fadein 5s;
    -moz-animation: fadein 5s; 
    -webkit-animation: fadein 5s; 
    -o-animation: fadein 5s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.button_plats { 
    animation: fadein 10s;
    -moz-animation: fadein 10s; 
    -webkit-animation: fadein 10s; 
    -o-animation: fadein 10s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.button_desserts {
    animation: fadein 15s;
    -moz-animation: fadein 15s; 
    -webkit-animation: fadein 15s; 
    -o-animation: fadein 15s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.button_entrees:hover > .overflow { 
    transition-duration: 0.5s; 
    transition-timing-function: ease;
    transform: translateX(-3rem);
    overflow: visible;
}  

.button_plats:hover > .overflow { 
    transition-duration: 0.5s; 
    transition-timing-function: ease;
    transform: translateX(-3rem);
    overflow: visible;
}  

.button_desserts:hover > .overflow { 
    transition-duration: 0.5s; 
    transition-timing-function: ease;
    transform: translateX(-3rem);
    overflow: visible;
}  

.button_entrees:hover > .overflow > .entree_hover > .fa-check-circle {
    transform: rotate(-360deg);
    transition: 0.5s;
}

.button_plats:hover > .overflow > .plat_hover > .fa-check-circle {
    transform: rotate(-360deg);
    transition: 0.5s;
}

.button_desserts:hover > .overflow > .dessert_hover > .fa-check-circle {
    transform: rotate(-360deg);
    transition: 0.5s;
}

.overflow {
    display: flex;
    margin-right: -3rem;
}

.p_tarif {
    display: flex;
    align-items: flex-end;
    padding-top: 0.8rem;
    margin-right: 1rem;
    font-weight: 600;
}

.entree_hover, 
.plat_hover, 
.dessert_hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 3.5rem;
    width: 3rem;
    background-color: #99E2D0;
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.fa-check-circle { 
    background-color: white;
    align-self: center;
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
    color: #99e2d0;
}

.h3_entrees, 
.h3_plats, 
.h3_desserts {
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem 1.5rem 0rem 1rem;
    font-size: 1rem;
    padding-top: 0.2rem;
}

.p_entrees, 
.p_plats, 
.p_desserts {
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem 1.5rem 0rem 1rem;
    font-size: 0.9rem;
    line-height: 0.5rem;
    letter-spacing: -1px;
}

.p_tarif {
    font-family: 'Roboto', sans-serif;
}
 
.button_menu {
    margin: 2rem 4rem 2rem 4rem;
    height: 2.5rem;
    width: 14rem;
    border-radius: 20px;
    border: hidden;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0rem 0rem 1rem grey;
 }

.p_button_menu {
    color: white;
}

.div_entrees > p, 
.div_plats > p, 
.div_desserts > p {
    padding-top: 2rem;
    margin-right: 2rem;
    color: red;
}

.div_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_explorer {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    height: 2rem;
    width: 10rem;
    border-radius: 30px;
    border: hidden;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin: 2rem 0rem 2rem 0rem;
}

.button_explorer:hover {
    background: linear-gradient(#ff99e2, #9356DC);
    box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
    0 2px 17px -3px rgba(0, 0, 0, 0.7);
}

footer {
    background-color: #353333;
    display: flex;
    flex-direction: column;
}

.h2_footer {
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    padding: 1rem 0rem 1rem 1rem;
}
 
.fa-utensils_h3_footer, 
.fa-hands-helping_h3_footer { 
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
} 

.fa-utensils {
    font-size: 0.9rem;
    margin-left: 1rem;
}

.fa-hands-helping {
    font-size: 0.6rem;
    margin-left: 1rem;
    padding-top: 5px;
}

.fa-utensils, 
.fa-hands-helping, 
.h3_footer,  
.h3_footer_contact, 
.h3_mentions_footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0rem 0rem 0rem 1rem;
    font-weight: 100;
    font-size: 0.9rem;
}

.h3_mentions_footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    margin: 0rem 0rem 1rem 1rem;
}

.h3_footer_contact {
    margin-bottom: 2rem;
} 

a {
    text-decoration: none;
}
 
/* Responsive */

@media (max-width: 414px) {

.arrow_h1 {
    display: flex;
    font-family: 'Shrikhand', cursive;
} 

.fa-arrow-left {
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-items: center;
    align-content: center;
}
    
.button_entrees, 
.button_plats, 
.button_desserts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: hidden;
    background-color: white;
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin: 0rem 1rem 0.5rem 1rem;
    height: 3.5rem;
}

.h2_menu, 
.h2_entrees, 
.h2_plats, 
.h2_desserts {
    margin-left: 1rem;
}
    
.h3_entrees, 
.h3_plats, 
.h3_desserts {
    display: inline-block;
    padding-left: 0.5rem;
    letter-spacing: -1.8px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p_entrees,
.p_plats,
.p_desserts {
    display: inline-block;
    padding-left: 1.5rem;
    letter-spacing: -1.5px;
    line-height: normal;
    margin: 0rem;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    height: 2rem;
    width: 10rem;
    border-radius: 30px;
    border: hidden;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin: 2rem 0rem 2rem 0rem;
}
    
.button_explorer:hover {
    background: linear-gradient(#ff99e2, #9356DC);
    box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
    0 2px 17px -3px rgba(0, 0, 0, 0.7);
    }

} 

@media (min-width: 768px) {

.arrow_h1 {
    display: flex;
    font-family: 'Shrikhand', cursive;
}
   
.fa-arrow-left {
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-items: center;
    align-content: center;
}

.button_entrees, 
.button_plats, 
.button_desserts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: hidden;
    background-color: white;
    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
    0 2px 8px -5px rgba(0, 0, 0, 0.7);
    margin: 0rem 1rem 0.5rem 1rem;
    height: 3.5rem;
}
.h3_entrees, 
.h3_plats, 
.h3_desserts,
.p_entrees,
.p_plats,
.p_desserts {
    font-size: 1rem;
}

.div_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    }

}
  
@media (min-width: 1250px) {
    
.arrow_h1 {
    display: flex;
    justify-content: center;
    margin: 1rem 10rem 0rem 2rem;
    font-family: 'Shrikhand', cursive;
}

.fa-arrow-left {
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-items: center;
    align-content: center; 
    display: flex;
}

.h2_menu {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
} 

.main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.entrees {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.plats {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1rem 1rem 1rem 1rem;
}

.desserts {
    width: 60rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: center;
    align-content: center;
}

}